<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
        </div>
        <div class="footerNav"> <!-- Wrapped li elements inside ul -->
            <ul> 
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2023; Designed by <span class="designer">Team</span></p>
    </div>
</footer>



<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    footer {
        background: linear-gradient(180deg, rgba(255,255,255,1) 18%, rgba(125,196,139,1) 50%, rgba(77,200,100,1) 100%);
    }
    
    .footerContainer {
        width: 100%;
        padding: 40px 30px 10px;  
    }
    
    .socialIcons {
        display: flex;
        justify-content: center;
    }
    
    .socialIcons a {
        text-decoration: none;
        margin: 10px;
        border-radius: 50%;
        width: 40px;  
        height: 40px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .socialIcons a i {
        font-size: 1.5em; 
        color: black;
        opacity: 0.9;
    }
    
    .socialIcons a:hover {
        background-color: #111;
        color: white;
        transition: 0.5s;
    }
    
    .footerNav {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .footerNav ul {
        list-style-type: none;  
        display: flex;
        justify-content: center;
        margin: 20px 0;
        padding: 0;  
    }
    
    .footerNav li a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.2em;  
        opacity: 0.7;
        transition: 0.5s;
    }
    
    .footerNav li a:hover {
        opacity: 1;
    }
    
    .footerBottom {
        background-color: rgba(0,0,0,0.5);  
        padding: 10px;  
        text-align: center;
    }
    
    .footerBottom p {
        color: white;
        font-size: 0.9em; 
    }
    
    .designer {
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }
    
    

</style>
      

 