<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/blog.css">
    <title>CO2 Reduction Blog</title>
</head>
<%- include ("./partials/header"); %>

<body>
    
        <!-- design -->
        <section class = "design" id = "design">
            <div class = "container">
              <div class = "title">
                <h2>Recent Initiatives & Innovations</h2>
                <p>Explore recent initiatives and innovations for reducing CO2 emissions</p>
              </div>
      
              <div class = "design-content">
                <!-- item -->
                <div class = "design-item">
                  <div class = "design-img">
                    <img  src = "blogimages/windPower.jpg" alt = "Green Energy Initiative">
                    <span><i class = "fas fa-leaf"></i> 48</span>
                    <span>Green Energy</span>
                  </div>
                  <div class = "design-title">
                    <a href = "#">Harnessing Wind Power to Reduce Carbon Footprint</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "design-item">
                  <div class = "design-img">
                    <img  src = "blogimages/eletricCar.jpg" alt = "Electric Car Innovation">
                    <span><i class = "fas fa-charging-station"></i> 36</span>
                    <span>Electric Vehicles</span>
                  </div>
                  <div class = "design-title">
                    <a href = "#">Electric Cars: Future of Sustainable Transportation</a>
                  </div>
                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/windFarm.jpg" alt = "Wind Turbine Design">
                        <span><i class = "fas fa-wind"></i> 34</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">Innovative Wind Turbine Designs for Efficient Energy Harvesting</a>
                    </div>
                    </div>
                    <!-- end of item -->
    
                    <!-- item -->
                    <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/eletricCarCharging.jpg" alt = "Electric Car Design">
                        <span><i class = "fas fa-car"></i> 27</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">The Future of Mobility: Sustainable Electric Car Designs</a>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/oneCentralPark.jpg" alt = "Green Building Design">
                        <span><i class = "fas fa-building"></i> 45</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">Green Architecture: Designing Buildings for Sustainability</a>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/smartGrid.png" alt = "Smart Grid Design">
                        <span><i class = "fas fa-network-wired"></i> 39</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">Smart Grid Technologies: Designing for Energy Efficiency</a>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/efficientRecycling.jpg" alt = "Recycling Facility Design">
                        <span><i class = "fas fa-recycle"></i> 52</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">Designing Efficient Recycling Facilities for Waste Management</a>
                    </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class = "design-item">
                    <div class = "design-img">
                        <img src = "blogimages/ecoFriendlyCity.jpg" alt = "Sustainable Urban Design">
                        <span><i class = "fas fa-city"></i> 48</span>
                        <span>Eco-Design</span>
                    </div>
                    <div class = "design-title">
                        <a href = "#">Sustainable Urban Planning: Designs for Eco-friendly Cities</a>
                    </div>
                    </div>
                    <!-- end of item -->
              </div>
            </div>
          </section>
          <!-- end of design -->
      
      
          <!-- blog -->
          <section class = "blog" id = "blog">
            <div class = "container">
              <div class = "title">
                <h2>Latest Articles</h2>
                <p>Read our latest blogs on CO2 reduction and sustainability</p>
              </div>
              <div class = "blog-content">
                <!-- item -->
                <div class = "blog-item">
                  <div class = "blog-img">
                    <img  src = "blogimages/overheadTree.jpg" alt = "Forest Conservation">
                    <span><i class = "fas fa-tree"></i></span>
                  </div>
                  <div class = "blog-text">
                    <span>20 September, 2023</span>
                    <h2>Forest Conservation: Key to Carbon Sequestration</h2>
                    <p>Discover the importance of forests in capturing carbon dioxide and mitigating climate change.</p>
                    <a href = "#">Read More</a>
                  </div>
                </div>
                <!-- item -->
                <div class = "blog-item">
                    <div class = "blog-img">
                      <img src = "blogimages/solarEnergy.jpg" alt = "Solar Panels">
                      <span><i class = "fas fa-sun"></i></span>
                    </div>
                    <div class = "blog-text">
                      <span>15 September, 2023</span>
                      <h2>The Rise of Solar Energy: Bright Future Ahead</h2>
                      <p>Learn about the advancements in solar technology and how it is revolutionizing the way we produce energy, contributing to a significant reduction in CO2 emissions.</p>
                      <a href = "#">Read More</a>
                    </div>
                  </div>
                  <!-- end of item -->
  
                  <!-- item -->
                  <div class = "blog-item">
                    <div class = "blog-img">
                      <img src = "blogimages/recycleMoney.jpg" alt = "Recycling Initiatives">
                      <span><i class = "fas fa-recycle"></i></span>
                    </div>
                    <div class = "blog-text">
                      <span>10 September, 2023</span>
                      <h2>Effective Recycling: Turning Waste into Wealth</h2>
                      <p>Recycling is a crucial component of modern waste reduction. Understand the processes and the impact it has on reducing carbon emissions and pollution.</p>
                      <a href = "#">Read More</a>
                    </div>
                  </div>
                  <!-- end of item -->
  
                  <!-- item -->
                  <div class = "blog-item">
                    <div class = "blog-img">
                      <img src = "blogimages/plantingTree.jpg" alt = "Afforestation">
                      <span><i class = "fas fa-seedling"></i></span>
                    </div>
                    <div class = "blog-text">
                      <span>5 September, 2023</span>
                      <h2>Afforestation: Planting Trees for a Greener Tomorrow</h2>
                      <p>Afforestation is the process of planting trees to restore or create forests. Discover how this practice is vital for environmental conservation and carbon dioxide reduction.</p>
                      <a href = "#">Read More</a>
                    </div>
                  </div>
                  <!-- end of item -->
              </div>
            </div>
          </section>
          <!-- end of blog -->


          <%- include ("./partials/footer"); %>

</body>

</html>
