<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/styles/products.css">

   <!-- custom js file link  -->
   <script src="js/products.js" defer></script>

</head>
<%- include ("./partials/header"); %>
<body>

<div class="container">

   <h3 class="title"> green products </h3>

   <div class="products-container">

      <div class="product" data-name="p-1">
         <img src="https://m.media-amazon.com/images/I/51+LS6xG3sL._AC_SL1500_.jpg" alt="">
         <h3>Frugal Lightbulbs</h3>
         <div class="price">$15.99</div>
      </div>

      <div class="product" data-name="p-2">
         <img src="https://m.media-amazon.com/images/I/71VS1PmcHAL._AC_UL640_FMwebp_QL65_.jpg" alt="">
         <h3>Compost Bin</h3>
         <div class="price">$35.99</div>
      </div>

      <div class="product" data-name="p-3">
         <img src="https://m.media-amazon.com/images/I/7149yKEQLaL._AC_SX679_.jpg" alt="">
         <h3>Solar Battery Charger</h3>
         <div class="price">$72.96</div>
      </div>

      <div class="product" data-name="p-4">
         <img src="https://assets.katomcdn.com/q_auto,f_auto,w_500,dpr_2/products/007/007-295773BLUE/007-295773blue.jpg" alt="">
         <h3>Recycling Bin</h3>
         <div class="price">$13.98</div>
      </div>

      <div class="product" data-name="p-5">
         <img src="https://m.media-amazon.com/images/I/71Jl607FGkL._AC_UL640_FMwebp_QL65_.jpg" alt="">
         <h3>Compostable Set</h3>
         <div class="price">$27.97</div>
      </div>

      <div class="product" data-name="p-6">
         <img src="https://shoplineimg.com/61650f3e03e48e0033e146d2/6170e611b7ec5d000111db18/800x.webp?source_format=jpg" alt="">
         <h3>Organic Detergent Strips</h3>
         <div class="price">$21.90</div>
      </div>

     <div class="product" data-name="p-7">
        <img src="https://images.grove.co/upload/f_auto,fl_progressive,h_1160,ar_1:1,c_pad,b_white/v1648769422/ad1hqrirnrbyqyfaq0r8.jpg" alt="">
        <h3>Bamboo Toilet Paper</h3>
        <div class="price">$21.99</div>
     </div>

     <div class="product" data-name="p-8">
        <img src="https://cupprint.com/wp-content/uploads/2019/12/recyclable-paper-cup.png" alt="">
        <h3>Eco-friendly Coffee </h3>
        <div class="price">N/A</div>
     </div>

     <div class="product" data-name="p-9">
        <img src="https://moonandarrow.com/cdn/shop/files/CrystlaDeo_Sized_600x.jpg?v=1692634593" alt="">
        <h3>Aluminum Deoderant/Aftershave</h3>
        <div class="price">$32.00</div>
     </div>

     <div class="product" data-name="p-10">
        <img src="https://m.media-amazon.com/images/I/81kJnB2HrwL._AC_SX679_.jpg" alt="">
        <h3>Dishtowel</h3>
        <div class="price">$7.99</div>
     </div>

     <div class="product" data-name="p-11">
        <img src="https://cdn.sanity.io/images/d864s8gp/production/d8d34430fa386e451601668cc189a82e5487c027-1790x1790.jpg?w=900&q=100&fit=clip&auto=format&dpr=2" alt="">
        <h3>Eco-friendly Cleaning Products</h3>
        <div class="price">$39.00</div>
     </div>

     

   </div>

</div>

<div class="products-preview">

   <div class="preview" data-target="p-1">
      <i class="fas fa-times"></i>
      <img src="https://m.media-amazon.com/images/I/51+LS6xG3sL._AC_SL1500_.jpg" alt="">
      <h3>Energetic Smarter Lighting</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 4.6k )</span>
      </div>
      <p>This energy-saving lightbulb offers high efficiency with 2300 lumens of bright 5000K daylight, while saving up to 86% on energy costs compared to a 150W bulb. It provides superior light quality, is eco-friendly with no toxic chemicals, and comes with a 2-year warranty, though it's not suitable for use with dimmers.</p>
      <div class="price">$15.99</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-2">
      <i class="fas fa-times"></i>
      <img src="https://m.media-amazon.com/images/I/71VS1PmcHAL._AC_UL640_FMwebp_QL65_.jpg" alt="">
      <h3>GEOBIN</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 5k )</span>
      </div>
      <p>The GEOBIN Compost Bin is a large, expandable composting solution made in the USA, with a capacity of 246 gallons. This compost bin allows you to recycle organic resources effectively and comes with connection keys for easy assembly.</p>
      <div class="price">$35.99</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-3">
      <i class="fas fa-times"></i>
      <img src="https://m.media-amazon.com/images/I/7149yKEQLaL._AC_SX679_.jpg" alt="">
      <h3>BigBlue 3 Battery Charger</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 4.4k )</span>
      </div>
      <p>The BigBlue 28W Solar Charger is a highly efficient and portable solar panel with triple USB-A ports for charging multiple devices simultaneously, featuring smart charge technology and protection measures, making it ideal for camping and outdoor activities.</p>
      <div class="price">$72.96</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-4">
      <i class="fas fa-times"></i>
      <img src="https://assets.katomcdn.com/q_auto,f_auto,w_500,dpr_2/products/007/007-295773BLUE/007-295773blue.jpg" alt="">
      <h3>Rubbermaid Bin</h3>
      <div class="stars">
         <span></span>
      </div>
      <p>The Rubbermaid FG295773BLUE is a 10 3/10-gallon indoor recycling bin designed for sorting and recycling multiple materials.</p>
      <div class="price">$13.98</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-5">
      <i class="fas fa-times"></i>
      <img src="https://m.media-amazon.com/images/I/71Jl607FGkL._AC_UL640_FMwebp_QL65_.jpg" alt="">
      <h3>DecorWoo</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <span>( 76 )</span>
      </div>
      <p>DecorWoo 300Pcs Compostable Paper Plates Set, Eco Party Plates & Biodegradable Utensil Include Forks, Knives, Spoons, Napkins, Soak Proof Disposable Dinnerware Set for Party Supplies and Camping.</p>
      <div class="price">$27.97</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-6">
      <i class="fas fa-times"></i>
      <img src="https://shoplineimg.com/61650f3e03e48e0033e146d2/6170e611b7ec5d000111db18/800x.webp?source_format=jpg" alt="">
      <h3>Ocean Breeze Laundry Strips</h3>
      <div class="stars">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <span>( 14 )</span>
      </div>
      <p>Detergent strips made with zero-waste packaging and biodegradable ingredients, strips contain no harsh chemicals, yet harness strong cleaning power.</p>
      <div class="price">$21.90</div>
      <div class="buttons">
         <a href="#" class="buy">buy now</a>
         <a href="#" class="cart">add to cart</a>
      </div>
   </div>

   <div class="preview" data-target="p-7">
    <i class="fas fa-times"></i>
    <img src="https://images.grove.co/upload/f_auto,fl_progressive,h_1160,ar_1:1,c_pad,b_white/v1648769422/ad1hqrirnrbyqyfaq0r8.jpg" alt="">
    <h3>Grove Co</h3>
    <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <span>( 4k )</span>
    </div>
    <p>100% tree-free toilet paper in ultra mega rolls made from sustainable bamboo fibers with soft, strong, thick 3-ply sheets. Plastic-free and crafted to be sustainably powerful for a healthy home and planet.</p>
    <div class="price">$21.99</div>
    <div class="buttons">
       <a href="#" class="buy">buy now</a>
       <a href="#" class="cart">add to cart</a>
    </div>
 </div>

 <div class="preview" data-target="p-8">
    <i class="fas fa-times"></i>
    <img src="https://cupprint.com/wp-content/uploads/2019/12/recyclable-paper-cup.png" alt="">
    <h3>Smithsonian Bird Friendly certified coffee</h3>
    <p>Smithsonian scientists developed the Bird Friendly certification for coffee in the late 1990s to conserve habitat and protect migratory songbirds — and this trusted brand has recently expanded to cocoa.</p>
    <div class="price">N/A</div>
    <div class="buttons">
       <a href="https://nationalzoo.si.edu/migratory-birds/buy-bird-friendly-coffee-online" class="buy">Buy Online</a>
       <a href="https://nationalzoo.si.edu/migratory-birds/find-bird-friendly-coffee-retailer-near-you" class="cart">Find local retailers</a>
    </div>
 </div>

 <div class="preview" data-target="p-9">
    <i class="fas fa-times"></i>
    <img src="https://moonandarrow.com/cdn/shop/files/CrystlaDeo_Sized_600x.jpg?v=1692634593" alt="">
    <h3>Alum Stone Crystal Deoderant & Aftershave</h3>
    <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <span>( 43 )</span>
    </div>
    <p>This crystal deodorant, made of mineral salt, effectively prevents odor by inhibiting bacteria growth, offers versatile uses like an aftershave or facial toner, and includes an organic cotton travel pouch for on-the-go convenience, making it a long-lasting and multipurpose natural skincare product.</p>
    <div class="price">$32.00</div>
    <div class="buttons">
       <a href="#" class="buy">buy now</a>
       <a href="#" class="cart">add to cart</a>
    </div>
 </div>

 <div class="preview" data-target="p-10">
    <i class="fas fa-times"></i>
    <img src=" https://m.media-amazon.com/images/I/81kJnB2HrwL._AC_SX679_.jpg" alt="">
    <h3>Cotton Flat Waffle Dish Cloth</h3>
    <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
       <span>( 1k )</span>
    </div>
    <p>The T-fal Flat Waffle Dishcloths are highly absorbent, eco-friendly, well-constructed, conveniently sized kitchen washcloths with an attractive design, perfect for various kitchen tasks and easy to care for through machine washing.</p>
    <div class="price">$7.99</div>
    <div class="buttons">
       <a href="#" class="buy">buy now</a>
       <a href="#" class="cart">add to cart</a>
    </div>
 </div>

 <div class="preview" data-target="p-11">
    <i class="fas fa-times"></i>
    <img src="https://cdn.sanity.io/images/d864s8gp/production/d8d34430fa386e451601668cc189a82e5487c027-1790x1790.jpg?w=900&q=100&fit=clip&auto=format&dpr=2" alt="">
    <h3>Blueland Cleaning Essentials</h3>
    <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
       <span>( 22k )</span>
    </div>
    <p>Our Hand Soap, Multi-Surface Cleaner, Bathroom Cleaner, and Glass + Mirror Cleaner have all of the plant-based power without any of the single-use plastic. Made to keep our home and planet in tip top shape.</p>
    <div class="price">$39.00</div>
    <div class="buttons">
       <a href="#" class="buy">buy now</a>
       <a href="#" class="cart">add to cart</a>
    </div>
 </div>


</div>

</body>
<%- include ("./partials/footer"); %>
</html>
