<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/navbar.css">

<header>
  <a href="/" class="logo"><img src="/image/cappingLogo.png" alt="Logo" class="logo-image"></a>

  <ul class="navbar" id="navbar">
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/goals">Goals</a></li>
    <li><a href="/products">Products</a></li>
  </ul>

  <div class="main">
      <a href="/login" id="login-button">Sign In</a>
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>



</header>

<script>
  let menu = document.querySelector("#menu-icon");
  let navabr = document.querySelector(".navbar");

  menu.onclick = () =>{
    menu.classList.toggle('bx-x');
    navabr.classList.toggle('open');
  }

  if (window.location.pathname === '/login') {
    var loginButton = document.getElementById('login-button');
    var navButton = document.querySelector('.navbar');
    if (loginButton) {
      loginButton.style.visibility = 'hidden';
      loginButton.style.pointerEvents = 'none';
    }

    if(navButton){
      navButton.style.cssText = 'color: #fff !important';

    }
  }
  
  </script>


