<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <!-- TODO: make a new navabr that only goes with when the users are logged in -->
    <body>
        <header>
            <h1>Welcome to your page <%= user.username %> </h1>
        </header>

        <!--Preferably we should keep this on the new navbar-->
        <main>
            <!--Onc eth euser hits the log out they need to sign back in.-->
            <a href="/auth/logout">Logout</a>
        </main>

        <main>
            
        </main>
        
    
    
    
    </body>
    
</body>
</html>