*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 60px; 

}  


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 3.8); 
    z-index: 1;
  }

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s;
    z-index: 2;
}
 
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;    
    margin: 30px 0;
}
 
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
  
}
  
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
}

.wrapper:nth-of-type(2) {
    left: 150%;
}
  
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

#loginForm {
    left: 50%;
}

#registerForm {
    left: 150%;
}

.google-btn {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: #5F6368;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #DADCE0;
    border-radius: 4px;
    padding: 10px 12px;
    width: 100%;
    max-width: 240px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(66,133,244,0.3);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.google-btn:hover {
    background-color: #F7F8F8;
    box-shadow: 0 1px 3px rgba(66,133,244,0.4), 0 1px 2px rgba(0,0,0,0.24);
}

.google-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.google-icon img {
    width: 20px;
    height: 20px;
}

.professional-popup {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #f4f4f4;  /* Neutral grey background */
    border: 1px solid #d4d4d4;  /* Subtle border */
    border-radius: 5px;  /* Slight rounding of corners */
    padding: 10px 15px;  /* Padding around the text */
    font-size: 14px;  /* Font size */
    margin-top: 10px;  /* Space from the email input */
    color: #555;  /* Subdued text color */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  /* A slight shadow to give depth */
}

