.profile-pic-container { /* Pre changes!!!*/
  width: 150px;   /* Width of the square container */
  height: 150px;  /* Height of the square container */
  position: relative;  /* Set to relative so the child image can be absolutely positioned */
  overflow: hidden;   /* Hide anything that goes outside this container */
  border-radius: 50%; /* Make it circular */
  margin-left: 90px;
  margin-bottom: 5px;
  color: #808080;
}

.profile-pic-container img {
  display: block;
  position: absolute;  
  top: 50%;  /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  transform: translate(-50%, -50%); /* Required to truly center the image */
  min-width: 100%;   /* Ensure image covers full width */
  min-height: 100%;  /* Ensure image covers full height */
  object-fit: cover; /* Cover the entire container without distortion */
}

/* user datails */

.col-lg-9 {
  margin-left: -20px;
  margin-top: 12px;
}

.ms-auto {
  margin-bottom: 88px;
}

.profile-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a0a0a0; /* Medium gray */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-placeholder:hover {
  background-color: #878787; /* Slightly darker gray on hover */
}

.profile-placeholder i {
  font-size: 3rem;
  color: white;
}

.friends-popup {
  max-width: 440px; /* or your preferred width */
  width: 100%;
  max-height: 440px; 
  height: 100%;
  overflow-y: auto; /* In case of many friends, this will allow scrolling */
  border-radius: 30px; /* Adjust the value as per your liking */
}

.friends-popup ul {
  list-style-type: none;
  padding-left: 0;
}

.friends-popup li::before {
  content: "";
  display: inline;
}

.carbon-emissions ul {
  list-style-type: none;
  padding-left: 0;
}

.carbon-emissions li::before {
  content: "- ";
  display: inline;
}

.friend-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; 
  max-width: 150px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

}

.friend-profile-placeholder {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: lightgray;
  border-radius: 50%;
  vertical-align: middle;
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem; 
  line-height: 1;
}

.friends-popup h3.text-light {
  border-bottom: 1px solid #888; 
  padding-bottom: 10px;
  position: relative; /* Set to relative to position the pseudo-element */
  margin: 0;
  padding-left: 0px;  /* Add padding to move the text to the right */
}

.bi-x-lg {
  font-size: 1.5rem;
}

/* Adding more space between each friend-name */
.friend-item {
  margin-bottom: 15px; /* Adjust this value for more or less space */
}

/* Styling the search bar with a light gray color */
.friends-popup input[type="text"] {
  background-color: #D1D1D1; /* Light gray color */
  border: none; /* Removes the default border */
}

.friends-popup input[type="text"]:focus {
  border: none; /* Ensures no border when the input is in focus */
  box-shadow: none; /* Removes the default blue glow when in focus */
}

.friends-popup .btn.btn-outline-light {
  position: absolute;  /* Absolute positioning */
  top: 15px;           /* Distance from the top */
  right: 15px;         /* Distance from the right */
}
